@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
*{
    color: #fff;
    font-family: 'Roboto', sans-serif;

}
.container{
    width: 100vw;
    height: 100vh;

    display: flex;

    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: hsla(205, 46%, 10%, 1);
}
.movie-poster{
    visibility: hidden;
    margin-left: 70px;
    width: 50vw;
    background: hsla(205, 46%, 10%, 1);
}
.movie-poster-v{
    visibility: visible;
    margin-left: 70px;
    width: 50vw;
    background: hsla(205, 46%, 10%, 1);
}
.movie-menu{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: hsla(205, 46%, 10%, 1);
    
}
.header{
    display: flex;
}
.header h2:nth-child(2){
    color: #808080;
    font-weight: 100;
}
img{
    border: 1px solid #fff;

    height: 28.75rem;
}

#button{
    color: #000;
    padding: 23px 78px;
}

.movie-info{
    visibility: hidden;
}
.movie-info-v{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    visibility: visible ;
    margin: 0 70px 0 100px;
}

@media only screen and (max-width: 600px){
    .container{
        flex-direction: column;
    }
    .movie-info-v{
        margin: 0;
    }
    .movie-poster-v img{
        height: 16.75rem;

    }
    .movie-poster-v{
        margin: 0;
    }
}
